Repository padok-team/yatas-gcp, changes with the labels that .github/labeler.yml gives for each.
All labels: aws, custom, cmd, helpers, logger, plugins, report, results, yatas, dependencies, main, makefile, readme, github-actions

feat(checks/sql): GCP_SQL_006: backups are multi-regional (#20)
  gcp/sql/sql.go
  gcp/sql/sqlConditions.go
  gcp/sql/sqlConditions_test.go
  go.mod
  go.sum
  main.go
Labels: dependencies, main

feat(checks/gke): add two first checks
  gcp/gke/getter.go
  gcp/gke/gke.go
  gcp/gke/gkeConditions.go
  go.mod
  go.sum
  main.go
Labels: dependencies, main

test(checks/gke): add tests for all conditions
  gcp/gke/gkeConditions_test.go
Labels: none

feat(checks/gke): GKE_003: control plane does not have private endpoint
  gcp/gke/gke.go
  gcp/gke/gkeConditions.go
Labels: none

feat(gke): Add GKE checks (#21)
  gcp/gke/getter.go
  gcp/gke/gke.go
  gcp/gke/gkeConditions.go
  gcp/gke/gkeConditions_test.go
  go.mod
  go.sum
  main.go
Labels: dependencies, main

chore(readme): update checks
  README.md
Labels: readme

chore(release): 1.4.0
  CHANGELOG.md
Labels: none

feat(instance-group): WIP: begin getter for instance groups
  gcp/instance/getter.go
Labels: none

feat(checks): add check on regional InstanceGroup
  gcp/instance/instance.go
  gcp/instance/instanceConditions.go
  gcp/instance/resourceTypes.go
Labels: none

feat(instance): Add check for Instance Groups (#22)
  gcp/instance/getter.go
  gcp/instance/instance.go
  gcp/instance/instanceConditions.go
  gcp/instance/resourceTypes.go
Labels: none

chore(readme): update checks
  README.md
Labels: readme

feat(checks): add first check on CloudRun services
  gcp/cloudrun/cloudrun.go
  gcp/cloudrun/cloudrunConditions.go
  gcp/cloudrun/getter.go
  go.mod
  go.sum
  main.go
Labels: dependencies, main

feat(checks): cloudrun: add check on service account
  gcp/cloudrun/cloudrun.go
  gcp/cloudrun/cloudrunConditions.go
Labels: none

chore(ci): set actions/checkout to v4
  .github/workflows/codecov.yml
  .github/workflows/release.yml
Labels: github-actions

feat(checks): add cloudrun check on secrets
  gcp/cloudrun/cloudrun.go
  gcp/cloudrun/cloudrunConditions.go
Labels: none

feat(checks): add checks on CloudRun services (#31)
  gcp/cloudrun/cloudrun.go
  gcp/cloudrun/cloudrunConditions.go
  gcp/cloudrun/getter.go
  go.mod
  go.sum
  main.go
Labels: dependencies, main

feat(go): update to go 1.21
  .github/workflows/codecov.yml
  .github/workflows/release.yml
  go.mod
Labels: dependencies, github-actions

chore(readme): update README for CloudRun checks
  README.md
Labels: readme

chore(release): 1.5.0
  CHANGELOG.md
Labels: none

feat(serverless): add getter for cf
  gcp/serverless/getter.go
Labels: none

feat(checks): add 2 first checks on CloudFunctions
  gcp/cloudrun/cloudrunConditions.go
  gcp/cloudrun/getter.go
  gcp/functions/functions.go
  gcp/functions/functionsConditions.go
  gcp/functions/getter.go
  gcp/gcs/getter.go
  gcp/serverless/getter.go
  go.mod
  go.sum
  internal/utils.go
  main.go
Labels: dependencies, main

feat(checks): add check on plain text secrets on function
  gcp/functions/functions.go
  gcp/functions/functionsConditions.go
  internal/utils.go
Labels: none

feat(checks): check on IAM for functions
  gcp/functions/functions.go
  gcp/functions/functionsConditions.go
  gcp/functions/getter.go
  internal/utils.go
Labels: none

feat(checks): Add checks on CloudFunctions (#42)
  gcp/cloudrun/cloudrunConditions.go
  gcp/cloudrun/getter.go
  gcp/functions/functions.go
  gcp/functions/functionsConditions.go
  gcp/functions/getter.go
  gcp/gcs/getter.go
  go.mod
  go.sum
  internal/utils.go
  main.go
Labels: dependencies, main

chore(readme): update checks
  README.md
Labels: readme

chore(release): 1.6.0
  CHANGELOG.md
Labels: none

.github/labeler.yml:

aws: 
- internal/aws/**/*

custom:
- internal/custom/**/*

cmd:
- internal/cmd/**/*

helpers:
- internal/helpers/**/*

logger:
- internal/logger/**/*

plugins:
- internal/plugins/**/*

report:
- internal/report/**/*

results:
- internal/results/**/*

yatas: 
- internal/yatas/**/*

dependencies:
- go.mod
- go.sum

main:
- main.go

makefile:
- Makefile

readme:
- README.md

github-actions:
- .github/workflows/*
