Repository padok-team/yatas-gcp, changes with the labels that .github/labeler.yml gives for each.
All labels: aws, custom, cmd, helpers, logger, plugins, report, results, yatas, dependencies, main, makefile, readme, github-actions

.github/labeler.yml:

aws: 
- internal/aws/**/*

custom:
- internal/custom/**/*

cmd:
- internal/cmd/**/*

helpers:
- internal/helpers/**/*

logger:
- internal/logger/**/*

plugins:
- internal/plugins/**/*

report:
- internal/report/**/*

results:
- internal/results/**/*

yatas: 
- internal/yatas/**/*

dependencies:
- go.mod
- go.sum

main:
- main.go

makefile:
- Makefile

readme:
- README.md

github-actions:
- .github/workflows/*

authentification start
  .yatas.yml
  Makefile
  auth/auth.go
  main.go
  results.yaml
Labels: main, makefile

add commons add client parameters in check
  .yatas.yml
  auth/auth.go
  gcp/gcs/gcs.go
  go.mod
  go.sum
  main.go
  struct/account.go
Labels: dependencies, main

WIP structure of test compiling but not launching test
  gcp/gcs/gcs.go
  gcp/gcs/getter.go
  go.mod
  go.sum
  internal/gcp_account.go
  main.go
  struct/account.go
Labels: dependencies, main

feat(bootstrap): add authentification + first GCS check
  .gitignore
  .yatas.example.yml
  Makefile
  gcp/gcs/gcs.go
  gcp/gcs/gcsVersioning.go
  gcp/gcs/getter.go
  go.mod
  go.sum
  internal/gcp_account.go
  main.go
  results.yaml
Labels: dependencies, main, makefile

chore(example): put latest version for GCP plugin
  .yatas.example.yml
Labels: none

feat(bootstrap): Add GCP Authentication + First GCS check (#3)
  .gitignore
  .yatas.example.yml
  Makefile
  gcp/gcs/gcs.go
  gcp/gcs/gcsVersioning.go
  gcp/gcs/getter.go
  go.mod
  go.sum
  internal/gcp_account.go
  main.go
Labels: dependencies, main, makefile

chore(release): 1.1.0
  CHANGELOG.md
Labels: none

chore: update README
  README.md
Labels: readme

feat(new-yatas): update imports and function calls from YATAS
  gcp/gcs/gcs.go
  gcp/gcs/getter.go
  go.mod
  go.sum
  logger/logger.go
  main.go
Labels: dependencies, main

feat(logging): improve logs during account unmarshal
  main.go
Labels: main

fix(gcs): refacto with new YATAS interfaces
  gcp/gcs/gcs.go
  gcp/gcs/gcsConditions.go
  gcp/gcs/gcsConditions_test.go
  gcp/gcs/gcsVersioning.go
  go.mod
  go.sum
Labels: dependencies

feat(refacto): refacto with new YATAS interfaces (#8)
  gcp/gcs/gcs.go
  gcp/gcs/gcsConditions.go
  gcp/gcs/gcsConditions_test.go
  gcp/gcs/gcsVersioning.go
  go.mod
  go.sum
Labels: dependencies

chore(renovate): group gcp dependencies
  renovate.json
Labels: none

feat(gcs): add checks
  gcp/gcs/gcs.go
  gcp/gcs/gcsConditions.go
  gcp/gcs/getter.go
Labels: none

feat(gcs): get iam bindings
  .yatas.example.yml
  gcp/gcs/gcs.go
  gcp/gcs/gcsConditions.go
  gcp/gcs/getter.go
Labels: none

feat(checks): add public check
  gcp/gcs/gcs.go
  gcp/gcs/gcsConditions.go
  gcp/gcs/getter.go
Labels: none

feat(gcs): add checks (#10)
  .yatas.example.yml
  gcp/gcs/gcs.go
  gcp/gcs/gcsConditions.go
  gcp/gcs/getter.go
Labels: none

feat(instance): GCP_VM_001: check instance does not have public IP
  .yatas.example.yml
  gcp/instance/getter.go
  gcp/instance/instance.go
  gcp/instance/instanceConditions.go
  gcp/instance/instanceConditions_test.go
  go.mod
  internal/gcp_account.go
  main.go
Labels: dependencies, main

feat(instance): GCP_VM_002: check disk are encrypted customer-managed
  gcp/instance/getter.go
  gcp/instance/instance.go
  gcp/instance/instanceConditions.go
  gcp/instance/instanceConditions_test.go
  gcp/instance/resourceTypes.go
Labels: none

chore(deps): run go mod tidy
  go.mod
Labels: dependencies

feat(compute): Add instance checks GCS_VM_ (#11)
  .yatas.example.yml
  gcp/instance/getter.go
  gcp/instance/instance.go
  gcp/instance/instanceConditions.go
  gcp/instance/instanceConditions_test.go
  gcp/instance/resourceTypes.go
  go.mod
  internal/gcp_account.go
  main.go
Labels: dependencies, main

chore(readme): update checks
  README.md
Labels: readme

chore(release): 1.2.0
  CHANGELOG.md
Labels: none

chore(ci): update golang to 1.20
  .github/workflows/codecov.yml
  .github/workflows/release.yml
Labels: github-actions

chore(readme): update example
  README.md
Labels: readme

chore(deps): update all deps
  go.mod
  go.sum
Labels: dependencies

chore(ci): update goreleaser args to v4
  .github/workflows/release.yml
Labels: github-actions

feat(checks/lb): WIP: getter for forwarding rules
  gcp/loadbalancing/getter.go
Labels: none

feat(checks/lb): check if Forwarding Rules have SSL certificated auto-renewed
  gcp/loadbalancing/getter.go
  gcp/loadbalancing/loadbalancing.go
  gcp/loadbalancing/loadbalancingConditions.go
  main.go
Labels: main

fix(checks/gcs): handle error when getting bucket policy
  gcp/gcs/getter.go
Labels: none

chore(release): 1.2.1
  CHANGELOG.md
Labels: none

fix(checks/lb): rename forwarding rules type
  gcp/loadbalancing/loadbalancing.go
  gcp/loadbalancing/loadbalancingConditions.go
Labels: none

feat(checks/sql): add two first checks for SQL
  gcp/sql/getter.go
  gcp/sql/sql.go
  gcp/sql/sqlConditions.go
  gcp/sql/sqlConditions_test.go
  main.go
Labels: main

feat(checks/sql): GCP_SQL_003: check RequireSsl on instances
  gcp/sql/sql.go
  gcp/sql/sqlConditions.go
  gcp/sql/sqlConditions_test.go
Labels: none

feat(checks/sql): GCP_SQL_004: check no public IP on instances
  gcp/sql/getter.go
  gcp/sql/sql.go
  gcp/sql/sqlConditions.go
  gcp/sql/sqlConditions_test.go
Labels: none

feat(checks/sql): GCP_SQL_005: check instance encrypted with KMS key
  gcp/sql/sql.go
  gcp/sql/sqlConditions.go
  gcp/sql/sqlConditions_test.go
Labels: none

fix(checks/lb): add TODO comment for SSLProxies
  gcp/loadbalancing/getter.go
Labels: none

feat(README.md): update documentation
  README.md
Labels: readme

chore(release): 1.3.0
  CHANGELOG.md
Labels: none

feat(checks/sql): GCP_SQL_006: backups are multi-regional
  gcp/sql/sql.go
  gcp/sql/sqlConditions.go
  gcp/sql/sqlConditions_test.go
  go.mod
  go.sum
  main.go
Labels: dependencies, main
